body{
background-image: url(imagen/fondo.jpg);
background-attachment: fixed;
width: 80%;
height: 500px;
margin:50px auto;
}

.card-champion{
  border:solid #D6B525;
  background-color: rgb(0, 0, 0,0.8);
  height: 280px;
  width: 180px;
 border-radius: 15px;
 font-size: 15px;
 color: #D6B525;
 font-family: "salsa";
 flex-direction: row;
 text-align: center;
margin-top: 30px;
}
.container{
 background-color: rgb(0, 0, 0,0.7);
 background-attachment: fixed;
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;


}
.avatar{
 height: 70px;
width: 70px;
margin: 10px;

}
.name{
  bottom: -20px;
  margin-top: -33px ;
}
.power{
  height: 15px;
  width: 15px;
  }
  .tittle{
    margin-top: -10px;
  }