
body {
    background-image: url("imagen/fondo.jpg");
    background-size: cover;
    margin: center;
    padding: center;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.cuerpo{
  display: flow-root;
  justify-content: center;
}

.intro{
  background-color: rgb(0, 0, 0, 0.8);
  height: 450px;
  margin-block-end: 4%;
  width: 55%;
  padding: 3rem;
}  


  .cabezote{
    width: 1100px;
    margin: auto;
    height:339px;
    padding-top: 30px;
    align-content: center;
  }

  .logo{
    display: flex;
    justify-content:center;
  }
  
  .bmenu > ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 88px;
    background-image: url(imagen/barra.png)  
  }
  
  .textbarra{
    background: transparent;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    height: 47px;
    font-family: Salsa;
    font-size: 36px;
    color: #D6B525;
    text-shadow: 2px 0 0 #372B00, -2px 0 0 #372B00, 0 2px 0 #372B00, 0 -2px 0 #372B00, 1px 1px #372B00, -1px -1px 0 #372B00, 1px -1px 0 #372B00, -1px 1px 0 #372B00;
    justify-content: center;
    text-decoration: none;
    top: 500px;
    display: flex;
  }

  .text {
    background: transparent;
    border:none;
    font-family: "salsa";
    color: #D6B525;
    font-size: 20px;
    text-decoration: none;
  }

  .btn ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
  }
  .contenedor{
    background-color: rgb(0, 0, 0, 0.8);
    margin-block-end: 4%;
    width: 55%;
    padding: 3rem;
  }

  .select{
    display: flex;
  }

  .fotos{
  padding: 10px;
  margin: 4%;
  width: 90%;
  display: flex;
  align-items: center;
  position: relative;
}

.textphoto{
   font-family: "salsa";
  color: #D6B525;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

.footer{
  background-color: black;
  color: rgb(121, 100, 9);
  font-size: 15px;
  height: 80px;
  padding-top: 1px;
}

.card-champion{
  border:solid #D6B525;
  background-color: rgb(0, 0, 0,0.8);
  height: 280px;
  width: 200px;
 border-radius: 15px;
 font-size: 15px;
 color: #D6B525;
 font-family: "salsa";
 flex-direction: row;
 text-align: center;
margin-top: 30px;
}
.container{
 background-color: rgb(0, 0, 0,0.7);
 width: 60%;
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;

}
.avatar{
 height: 70px;
width: 70px;
margin: 10px;

}
.name{
  bottom: -20px;
  margin-top: -33px ;
}
.power{
  height: 15px;
  width: 15px;
  }

  .tittle{
    margin-top: -10px;
  }


  nav > ul > li:hover{
    background-image: url(imagen/select.png);
    background-position: bottom;
    background-repeat:no-repeat ;
  }

  .bmenu > ul > li:hover div{
     display:table;
     display: flex;
  }

  .bmenu ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 88px;    
  }

  .bmenu > ul > li > div{
    position:absolute;
    background:rgb(0, 0, 0, 0.8);
    left: 17%;
    right: 15%;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    margin-block-end: 10%;
    justify-content: space-around;
    display:none;  
  }

  .bmenu > ul > li > div >ul {
    height: 47px;
    font-family: Salsa;
    font-size: 20px;
    color: #D6B525;
    text-decoration: none;
    display: flex;
    justify-content:space-around;

  }

  .bmenu > ul > li > div >ul >li {
    display: flex;
    justify-content:space-evenly;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  

  

  @font-face{font-family:salsa; 
    src:url(font/salsa-regular.ttf);
     }

